nav {
  height: 100px;
  display: flex;
  align-items: center;
}
nav .container .row .content-nav {
  display: flex;
  align-items: center;
  width: 100%;
}
nav .container .row .content-nav .logo {
  width: 70px;
  height: 70px;
}
nav .container .row .content-nav .logo img {
  width: 100%;
  height: 100%;
}
nav .container .row .content-nav ul {
  display: flex;
  width: calc(100% - 70px);
  justify-content: space-around;
}
nav .container .row .content-nav ul li {
  list-style-type: none;
}
nav .container .row .content-nav ul li a {
  text-decoration: none;
  border-bottom: 4px solid white;
  color: gray;
  padding-bottom: 35px;
}
nav .container .row .content-nav ul li a:hover {
  border-bottom: 4px solid #3676d6;
  color: #3676d6;
}

header {
  width: 100%;
  height: 300px;
  background-image: url("/images/jumbotron.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

footer .bg-footer {
  background-image: url("/images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
footer .bg-footer .container .row .content-list .row .col-4 {
  padding: 10px;
  width: calc(100% / 3);
  list-style-type: none;
}
footer .bg-footer .container .row .content-list .row .col-4 ul {
  list-style-type: none;
}
footer .bg-footer .container .row .content-list .row .col-4 ul li {
  font-size: 14px;
  margin-bottom: 10px;
}
footer .bg-footer .container .row .content-list .row .col-4 ul li a {
  text-decoration: none;
  color: lightgray;
}
footer .bg-footer .container .row .content-list .row .col-4 ul li a:hover {
  color: white;
}
footer .bg-footer .container .row .content-list .row .col-4 ul li:first-child {
  color: white;
  margin: 15px 0;
  font-size: 17px;
}
footer .bg-footer .container .row .content-list .row p {
  font-size: 12px;
  color: lightgray;
}
footer .bg-footer .container .row .content-list .row p a {
  text-decoration: none;
  color: #3676d6;
}
footer .bg-footer .container .row .col-6 {
  width: calc(100% / 2);
}
footer .bg-footer .container .row .bg-logo-footer {
  overflow: hidden;
  height: 400px;
  background-image: url("/images/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: center;
}
footer .bottom-footer {
  height: 50px;
  background-color: #4b4b4b;
}
footer .bottom-footer .container .container-bot-foot {
  align-items: center;
  height: 50px;
  justify-content: space-between;
}
footer .bottom-footer .container .container-bot-foot .button-footer {
  border: 2px solid #3676d6;
  padding: 5px;
}
footer .bottom-footer .container .container-bot-foot .button-footer a {
  text-decoration: none;
  color: white;
}
footer .bottom-footer .container .container-bot-foot .social-container {
  display: flex;
  align-items: center;
}
footer .bottom-footer .container .container-bot-foot .social-container span {
  color: #3676d6;
  font-weight: bold;
  margin: 0 5px;
}
footer .bottom-footer .container .container-bot-foot .social-container .icon-foot {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}
footer .bottom-footer .container .container-bot-foot .social-container .icon-foot a img {
  width: 100%;
  height: 100%;
}

.main-home-page {
  background-color: #1a1a1a;
}
.main-home-page .container .comics-content {
  justify-content: center;
  padding: 30px;
}
.main-home-page .container .comics-content .box-comics {
  width: calc(100% / 6);
  padding: 10px;
}
.main-home-page .container .comics-content .box-comics .content-box .image-box {
  height: 180px;
}
.main-home-page .container .comics-content .box-comics .content-box .image-box img {
  width: 100%;
  height: 100%;
}
.main-home-page .container .comics-content .box-comics .content-box .title-box {
  padding-top: 10px;
  height: 50px;
  color: white;
}
.main-home-page .container .comics-content .load-button {
  margin: 10px 0;
  text-align: center;
  background-color: #3676d6;
  padding: 10px 40px;
}
.main-home-page .container .comics-content .load-button a {
  color: white;
  text-decoration: none;
}
.main-home-page .main-bar {
  background-color: #3676d6;
  height: 100px;
}
.main-home-page .main-bar .container .content-main-bar {
  height: 100px;
  align-items: center;
  color: white;
  padding: 20px;
}
.main-home-page .main-bar .container .content-main-bar .icon-main-box {
  width: calc(100% / 5);
  display: flex;
  align-items: center;
}
.main-home-page .main-bar .container .content-main-bar .icon-main-box .icon-main {
  width: 50px;
  height: 50px;
}
.main-home-page .main-bar .container .content-main-bar .icon-main-box .icon-main img {
  width: 100%;
  height: 100%;
}
.main-home-page .main-bar .container .content-main-bar .icon-main-box span {
  vertical-align: middle;
  margin: 0 10px;
}

.header-bar {
  height: 50px;
  background-color: #3676d6;
}

.container .content-product {
  padding: 50px;
}
.container .content-product .section-product {
  width: calc(100% / 2);
}
.container .content-product .section-product .title-product-section {
  color: #103874;
  font-size: 25px;
  padding-bottom: 20px;
}
.container .content-product .section-product .check-bar {
  background-color: yellowgreen;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
}
.container .content-product .section-product .check-bar .price-check {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  flex-grow: 1;
  border-right: 1px solid black;
}
.container .content-product .section-product .check-bar .price-check .content-check span:first-child {
  color: rgba(255, 255, 255, 0.5);
}
.container .content-product .section-product .check-bar .disponibilita {
  padding: 10px 20px;
}
.container .content-product .section-product p {
  padding-top: 20px;
  color: gray;
  font-weight: bold;
}
.container .content-product .pubblicita {
  width: calc(100% / 2);
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  flex-direction: column;
}
.container .content-product .pubblicita span {
  font-weight: bold;
  color: grey;
}
.container .content-product .pubblicita img {
  width: 50%;
}

.box-info-container {
  background-color: #e9e9e9;
  border-top: 1px solid lightgrey;
}
.box-info-container .container .box-info-content {
  padding: 35px;
}
.box-info-container .container .box-info-content .info-box-left .title-info {
  color: #103874;
  font-size: 25px;
}
.box-info-container .container .box-info-content .info-box-left .info {
  width: 100%;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
}
.box-info-container .container .box-info-content .info-box-left .info .top-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid lightgrey;
}
.box-info-container .container .box-info-content .info-box-left .info .top-info div {
  width: calc(100% / 2);
}
.box-info-container .container .box-info-content .info-box-left .info .top-info .info-color {
  color: #103874;
  font-weight: bold;
}
.box-info-container .container .box-info-content .info-box-left .info .top-info .artists {
  color: #69a2f7;
  font-weight: bold;
  font-size: 11px;
}
.box-info-container .container .box-info-content .info-box-left .info .bottom-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}
.box-info-container .container .box-info-content .info-box-left .info .bottom-info .info-color {
  color: #103874;
  font-weight: bold;
}
.box-info-container .container .box-info-content .info-box-left .info .bottom-info div {
  width: calc(100% / 2);
}
.box-info-container .container .box-info-content .info-box-left .info .bottom-info .writers {
  color: #69a2f7;
  font-weight: bold;
  font-size: 11px;
}
.box-info-container .container .box-info-content .info-box-right {
  padding: 0 20px;
}
.box-info-container .container .box-info-content .info-box-right .title-info {
  color: #103874;
  font-size: 25px;
}
.box-info-container .container .box-info-content .info-box-right .info {
  width: 100%;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
}
.box-info-container .container .box-info-content .info-box-right .info .top-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid lightgrey;
}
.box-info-container .container .box-info-content .info-box-right .info .top-info div {
  width: calc(100% / 2);
}
.box-info-container .container .box-info-content .info-box-right .info .top-info .info-color {
  color: #103874;
  font-weight: bold;
}
.box-info-container .container .box-info-content .info-box-right .info .top-info .series {
  color: #69a2f7;
  font-weight: bold;
  font-size: 15px;
}
.box-info-container .container .box-info-content .info-box-right .info .middle-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid lightgrey;
}
.box-info-container .container .box-info-content .info-box-right .info .middle-info div {
  width: calc(100% / 2);
}
.box-info-container .container .box-info-content .info-box-right .info .middle-info .info-color {
  color: #103874;
  font-weight: bold;
}
.box-info-container .container .box-info-content .info-box-right .info .bottom-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}
.box-info-container .container .box-info-content .info-box-right .info .bottom-info div {
  width: calc(100% / 2);
}
.box-info-container .container .box-info-content .info-box-right .info .bottom-info .info-color {
  color: #103874;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  width: calc(100% / 2);
}