.header-bar{
    height: 50px;
    background-color: rgb(54, 118, 214);
}
.container{
    .content-product{
        padding: 50px;
        .section-product{
            width: calc(100% / 2);
            .title-product-section{
                color: rgb(16, 56, 116);
                font-size: 25px;
                padding-bottom: 20px;
            }
            .check-bar{
                background-color: yellowgreen;
                display: flex;
                align-items: center;
                color: white;
                font-weight: bold;

                .price-check{
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 20px;
                    flex-grow: 1;
                    border-right: 1px solid black;
                    .content-check{
                        span{
                            &:first-child{
                                color: rgba(255, 255, 255, 0.5);
                            }
                        }
                    }
                }
                .disponibilita{
                    padding: 10px 20px;
                }
            }
            p{
                padding-top: 20px;
                color: gray;
                font-weight: bold;
            }
        }
        .pubblicita{
            width: calc(100% / 2);
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            flex-direction: column;           
            span{
               font-weight: bold;
               color: grey;
            }
            img{
                width: 50%;
            }
        }
    }
}
.box-info-container{
    background-color: rgb(233, 233, 233);
    border-top: 1px solid lightgrey;
    .container{
        .box-info-content{
            padding: 35px;
            .info-box-left{
                .title-info{
                    color: rgb(16, 56, 116);
                    font-size: 25px;
                }
                .info{
                    width: 100%;
                    border-top: 1px solid lightgrey;
                    border-bottom: 1px solid lightgrey;
                    display: flex;
                    flex-direction: column;
                    .top-info{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        padding: 10px 0;
                        border-bottom: 1px solid lightgrey;
                        div{
                            width: calc(100% / 2);
                        }
                        .info-color{
                            color: rgb(16, 56, 116);
                            font-weight: bold;
                        }
                        .artists{
                            color: rgb(105, 162, 247);
                            font-weight: bold;
                            font-size: 11px;
                        }
                    }
                    .bottom-info{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        padding: 10px 0;
                        .info-color{
                            color: rgb(16, 56, 116);
                            font-weight: bold;
                        }

                        div{
                            width: calc(100% / 2);
                        }
                        .writers{
                            color: rgb(105, 162, 247);
                            font-weight: bold;
                            font-size: 11px;
                        }
                    }
                }
            }
            .info-box-right{
                padding: 0 20px;
                .title-info{
                    color: rgb(16, 56, 116);
                    font-size: 25px;
                }
                
                .info{
                    width: 100%;
                    border-top: 1px solid lightgrey;
                    border-bottom: 1px solid lightgrey;
                    display: flex;
                    flex-direction: column;
                    .top-info{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        padding: 10px 0;
                        border-bottom: 1px solid lightgrey;
                        div{
                            width: calc(100% / 2);
                        }
                        .info-color{
                            color: rgb(16, 56, 116);
                            font-weight: bold;
                        }
                        .series{
                            color: rgb(105, 162, 247);
                            font-weight: bold;
                            font-size: 15px;
                        }
                    }
                    .middle-info{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        padding: 10px 0;
                        border-bottom: 1px solid lightgrey;
                        div{
                            width: calc(100% / 2);
                        }
                        .info-color{
                            color: rgb(16, 56, 116);
                            font-weight: bold;
                        }
                    }
                    .bottom-info{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        padding: 10px 0;

                        div{
                            width: calc(100% / 2);
                        }
                        .info-color{
                            color: rgb(16, 56, 116);
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}